/other_pro/py_version
/other_pro/WaveFunctionCollapse
/other_pro/wfc
/other_pro/wfc1
/reference
/temp
/results
/test_temp
/.idea
*.exe
**/cmake-build-debug/*
**/.idea/*
*.mp4
*.pdf
*.pdb
*.makefile
*.temp
*/.idea
*translation.json
*all.json

